<div class="row my-4">
    <div class="col-md-6">
        <h1>Product number {{produit.id}}</h1>
    </div>
    <div class="col-md-6"><a routerLink="/products" class="btn btn-sm btn-success"><i class="fa fa-arrow-left"></i></a></div>
</div>


<div class="row my-3">
    <div class="col-md-4 my-3" >
        <div class="card">
            <img [src]="produit.urlImage" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{produit.title}}</h4>
                <div class="card-text">

                    <em>
                    {{produit.description}}
                    </em> 
                    <div class="text-center">
                        <a [routerLink]="['/products', product.id ,'edit']" class="btn btn-sm btn-warning">
                            <i class="fa fa-pencil"></i></a>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                        </button>
                    </div>

                 </div>
        </div>
    </div>
</div>