<div class="row my-4">
    <div class="col-md-6">
            <form [formGroup]="datas" (ngSubmit)="AddProduct()">
        
                <div class="form-group">
                    <label   for="exampleInputEmail1">Title of the product</label>
                    <input    formControlName="title"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                    <small id="emailHelp" class="form-text text-muted">Enter the name of your product here </small>
                  </div>
                <div class="form-group">
                    <label  for="description">Description of the product </label>
                    <textarea   formControlName="description"  class="form-control" id="exampleTextarea"    rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price Of The product</label>
                    <input   formControlName="price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Enter the price of the product </small>
                  </div>
                  <div class="form-group">
                    <label for="price">The Picture of The Product</label>
                    <input  formControlName="urlImage" type="texte" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                    <small id="emailHelp" class="form-text text-muted">Enter the image of the product </small>
                  </div>
                <fieldset class="form-group">
                    <legend>Select the category Of the product</legend>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input   formControlName="categoryId" type="radio" class="form-check-input"  id="optionsRadios1" value="1" checked="">
                        Science Category
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input  formControlName="categoryId"   type="radio" class="form-check-input"  id="optionsRadios2" value="2">
                        Music Category
                    </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
    
                    </form>
    
    </div>
    </div>