extends ../layout.pug

block style
    link(rel="stylesheet", href="/css/materia.min.css")

block content
        .row.my-4    
            .col-md-12
                table.table.table-striped
                    thead
                        tr
                            th Name
                            th Email
                            th Password
                            th
                    tbody
                            tr
                                td #{ user.name }
                                td #{ user.email }
                                td #{ user.password }
                                td.text-right
                                    a.btn.btn-sm.btn-dark(href=`/users/${user.id}/edit`) Edit
                    